<div class = "col-xs-10 col-xs-offset-1 space-top card user-info" id="user_show">
  <div class="row">
    <div class="container">
      <%= link_to root_path, method: :get, class: "pull-right" do %>
        <i class="glyphicon glyphicon-remove"></i>
      <% end %>
    </div>
  </div>
  <section id="user_itin">

    <!-- beginning of profile section -->
    <div class="row">
      <div class = "col-sm-4 col-sm-offset-1 col-xs-offset-1 space-top center">
        <div class = "row">
          <div class = "col-sm-8 col-sm-offset-2 col-xs-offset-1 col-xs-9">
            <% if @user.avatar.blank? %>
              <%= image_tag "userprofile.png", class:"avatar" %>
            <% else %>
              <%= image_tag @user.avatar, class:"avatar" %>
            <% end %>
          </div>

        </div>
        <div class = "row">
          <h3><%= @user.firstname %> <%= @user.lastname %></h3>
        </div>
        <div class = "row">
          <h4><%= @user.username %> -  Joined: <%= @user.created_at.strftime("%-m-%-d-%Y") %></h4>
        </div>

        <div class = "row">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary btn-block space-top" %>
          <!-- <%= link_to "Delete Profile", user_registration_path, class: "btn btn-danger btn-block", method: :delete, data: {confirm: ' '} %> -->
        </div>

      </div>
      <!-- end of profile section -->

      <!-- beginning of posts -->
      <div class = "col-sm-5 col-sm-offset-1 col-xs-offset-1 space-top ">
        <div class = "row">
          <h4> <%= @user.username %>'s Posts </h4>
          <hr />
        </div>
        <div class="row">

          <%= link_to new_user_event_path(current_user), {class: "btn btn-success btn-block"} do %>
             <i class="glyphicon glyphicon-exclamation-sign"></i><span class = "space-left">Report a New Event</span>
          <% end %>
          <hr />
        </div>

        <!--********LOOP THROUGH USER POST****************-->
        <% @events.order("created_at desc").each do |event| %>
          <div class="row">
            <% if event.category == "Heard It" %>
              <h4><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span><strong><%= link_to "#{event.title}", edit_user_event_path(@user, event), class: "space-left opensans"  %></strong></h4>
            <% else %>
              <h4><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><strong><%= link_to "#{event.title}", edit_user_event_path(@user, event), class: "space-left opensans"  %></strong></h4>
            <% end %>
            <p><%= event.content %></p>
            <p><small><em>Published: <%= time_ago_in_words(event.created_at).gsub('about', '') %> ago</em></small></p>

            <div class = "row space-left">
              <%= link_to "Edit", edit_user_event_path(@user, event), class: "btn btn-primary btn-sm" %>
              <%= link_to "Delete", user_event_path(@user, event), class: "btn btn-danger btn-sm", method: :delete, data: {confirm: ' '} %>
            </div>
            <hr />
          </div>
        <% end %>
        <div class="row text-center">
          <%= will_paginate @events,  renderer: BootstrapPagination::Rails %>
        </div>


      </div>

    </div>
  </section>

</div>
