<div id="user_show">
  <!--User Header-->
  <header>
    <div class="header-content">
      <div class="header-content-inner">
      </div>
    </div>
  </header>
  <!--end User Header-->

  <section id="user_itin">
    <div class="container">
      <!--beginning of profile section-->
      <div class="row">
        <div class="col-md-4 text-center " >
          <div class="centered">
            <div class="profile_pic">
              <%= image_tag @user.avatar, :class => "img-circle center-block" %>
            </div>
            <p>
              <br>
              First Name: <%= @user.firstname %>
              <br>
              Last Name: <%= @user.lastname %>
              <br>
              Joined: <%= @user.created_at.strftime("%-m-%-d-%Y") %>
            </p>

          </div>
        </div>
      <!--end of profile section-->

      <!--beginning of itinerary posts-->
      <div class="col-md-8">
        <div class="row text-center">
          <h2> <%= @user.username %>'s Posts </h2>
        </div>
        <div class="row" >
          <!--********LOOP THROUGH USER POST****************-->



          <!--********CLOSE POST LOOP****************-->
          </div>
        </div> <!--closes col-md-8-->
      </div><!--closes row-->
    </div> <!--closes container-->
  </section><!--closes section-->
</div> <!--closes user_show-->
