<div class="row space-top">
  <%= f.label :address, class:"control-label" %>
</div>
<div class="row">
  <%= f.text_field :address, class: "form-control", placeholder: "Address", autofocus: true %>
</div>

<div class="row space-top">
  <%= f.label :title, class:"control-label" %>
</div>
<div class="row">
  <%= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true %>
</div>

<div class="row space-top">
  <%= f.label :content, class:"control-label" %>
</div>
<div class="row">
  <%= f.text_area :content, rows: 5, class: "form-control", placeholder: "What happened?" %>
</div>

<div class="row space-top">
  <%= f.label :category, class:"control-label" %>
</div>
<div class="row">
  <div class = "col-xs-offset-1 space-top">
    <div class = "row">
      <%= f.radio_button :category, 'Heard It', value:"Heard It" %>
      <%= f.label :category, 'Heard It'%>
    </div>
    <div class = "row">
      <%= f.radio_button :category, 'Saw It', value:"Heard It" %>
      <%= f.label :category, 'Saw It'%>
    </div>
  </div>
</div>


<div class="row space-top">
  <!-- <%#= hidden_field_tag("latitude", 0, class:"lat") %>
  <%#= hidden_field_tag("longitude", 0, class:"long") %> -->

  <%= f.submit "Submit", class: "btn btn-primary" %>
  <%= link_to "Cancel", :back, class: "btn btn-default" %>
</div>
