User current location or enter alternate address below

<div class="row space-top">
  <%= f.label :address, class:"control-label" %>
</div>
<div class="row">
  <%= f.text_field :address, class: "form-control", placeholder: "Address", autofocus: true %>
</div>

<div class="row space-top">
  <%= f.label :title, class:"control-label" %>
</div>
<div class="row">
  <%= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true, maxlength: "50", required: "required" %>
</div>

<div class="row space-top">
  <%= f.label :content, class:"control-label" %>
</div>
<div class="row">
  <%= f.text_area :content, rows: 5, class: "form-control", placeholder: "What happened?", maxlength: "140", required: "required" %>
</div>

<div class="row space-top">
  <%= f.label :category, class:"control-label" %>
</div>
<div class="row space-top">

  <% if params[:category] == "Saw It" || @event.category == "Saw It" %>

    <div class="btn-group" data-toggle="buttons">
      <%= f.label :category, 'Heard It', class: "btn btn-primary" do %>
        <%= f.radio_button :category, 'Heard It' %>
        <span class="glyphicon glyphicon-headphones"></span> Heard It
      <% end %>
      <%= f.label :category, 'Saw It', class: "btn btn-primary active" do %>
        <%= f.radio_button :category, 'Saw It' %>
        <span class="glyphicon glyphicon-eye-open"></span> Saw It
      <% end %>
    </div>

  <% elsif params[:category] == "Heard It" || @event.category == "Heard It" %>

    <div class="btn-group" data-toggle="buttons">
      <%= f.label :category, 'Heard It', class: "btn btn-primary active" do %>
        <%= f.radio_button :category, 'Heard It' %>
        <span class="glyphicon glyphicon-headphones"></span> Heard It
      <% end %>
      <%= f.label :category, 'Saw It', class: "btn btn-primary" do %>
        <%= f.radio_button :category, 'Saw It' %>
        <span class="glyphicon glyphicon-eye-open"></span> Saw It
      <% end %>
    </div>

  <% else %>

    <div class="btn-group" data-toggle="buttons", required: "required">
      <%= f.label :category, 'Heard It', required: "required", class: "btn btn-primary" do %>
        <%= f.radio_button :category, 'Heard It' %>
        <span class="glyphicon glyphicon-headphones"></span> Heard It
      <% end %>
      <%= f.label :category, 'Saw It', required: "required", class: "btn btn-primary" do %>
        <%= f.radio_button :category, 'Saw It' %>
        <span class="glyphicon glyphicon-eye-open"></span> Saw It
      <% end %>
    </div>

  <% end %>



</div>


<div class="row space-top">
  <!-- <%#= hidden_field_tag("latitude", 0, class:"lat") %>
  <%#= hidden_field_tag("longitude", 0, class:"long") %> -->

  <%= f.submit "Submit", class: "btn btn-success btn-block" %>
  <%= link_to "Cancel", root_path, method: :get, class: "btn btn-default btn-block space-top" %>
</div>
