<div class = "col-xs-12 popup">
  <div class = "col-xs-3">
    <div class="row">
      <%= image_tag avatar, :class => "avatar" %>
    </div>
    <div class="row space-top popup-reported">
      <% if category == "Saw It" %>
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      <% else %>
        <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
      <% end %>
      <strong>Reported by: <%= username %></strong>
    </div>
  </div>
  <div class = "col-xs-9">
    <h4 class="opensans">
      <% if user == current_user %>
        <%= link_to title, user_path(current_user, event) %>
      <% else %>
        <%= title %>
      <% end %>
    </h4>

    <p>
      <%= content %>
    </p>


    <p><small><em><%= time_ago_in_words(event.created_at).gsub('about', '') %> ago</em></small></p>

    <% if user == current_user %>

      <%= link_to "Edit", edit_user_event_path(user, event), class: "btn btn-primary btn-xs" %>
      <%= link_to "Delete", user_event_path(user, event), class: "btn btn-danger btn-xs space-left", method: :delete, data: {confirm: ' '} %>
    <% end %>


    <div class = "verified pull-right">

          <% if current_user %>
            <% if current_user.voted_up_on? event %>
              <%= button_to user_event_dislike_path(event.user, event), method: "put",
                class: "btn btn-default btn-sm active likebtn", remote: true do %>
                <span class = "glyphicon glyphicon-ok"></span> <span class="badge count"><%= event.get_upvotes.size %></span>
              <% end %>
            <% else %>
              <%= button_to user_event_like_path(event.user, event), method: "put",
                class: "btn btn-default btn-sm likebtn", remote: true do %>
                <span class = "glyphicon glyphicon-ok"></span> <span class="badge count"><%= event.get_upvotes.size %></span>
              <% end %>
            <% end %>

          <% else %>
            <span class = "glyphicon glyphicon-ok"></span> <span class="badge"><%= event.get_upvotes.size %></span>
          <% end %>
    </div>
  </div>
</div>
