<div class = "col-xs-12 popup">
  <div class = "col-xs-3">
    <div class="row">
      <%= image_tag avatar, class: "avatar" %>
    </div>
    <div class="row space-top popup-reported">
      <% if category == "Saw It" %>
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      <% else %>
        <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
      <% end %>
      <strong>Reported by: <%= username %></strong>
    </div>
  </div>
  <div class = "col-xs-9">
    <h4>
      <% if user == current_user %>
        <%= link_to title, user_path(current_user, event) %>
      <% else %>
        <%= title %>
      <% end %>
    </h4>

    <p>
      <%= content %>
    </p>


    <p><em><%= time_ago_in_words(event.created_at).gsub('about', '') %> ago</em></p>

    <% if user == current_user %>
      <%= link_to "Edit", edit_user_event_path(user, event), class: "btn btn-primary btn-xs" %>
      <%= link_to "Delete", user_event_path(user, event), class: "btn btn-danger btn-xs", method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>

  </div>
</div>
