<!DOCTYPE html>
<html>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
<head>
  <title>Heard it? Seen it? Report it!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body class="<%= controller_name %> <%= action_name %>">
<div class="container-fluid">
  <div class = "row">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <%= link_to "WTF?!", root_path, method: :get, :class => "navbar-brand", id: "brand-logo" %>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-left">
            <li>
              <%= button_to new_user_event_path(current_user), {class: "btn btn-default navbar-btn space-left", name:"category", value:"Heard It", method:"get"} do %>
                 <i class="glyphicon glyphicon-headphones"></i><span class = "space-left">Heard It</span>
              <% end %>
            </li>
            <li>
              <%= button_to new_user_event_path(current_user), {class: "btn btn-default navbar-btn space-left", name:"category", value:"Saw It", method:"get"} do %>
                 <i class="glyphicon glyphicon-eye-open"></i><span class = "space-left">Saw It</span>
              <% end %>
            </li>
          </ul>
        <% end %>

          <ul class="nav navbar-nav navbar-right" id="user_nav">
            <% if user_signed_in? %>
              <li><%= link_to current_user.username, user_path(current_user) %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              <li><%= link_to "About", about_path %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Sign in", new_user_session_path %></li>
              <li><%= link_to "About", about_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div id="flash_error">
      <% flash.each do |name, msg| %>
        <% if name === "notice" %>
          <li class = "bg-success"><%= name %> : <%= msg %></li>
        <% else %>
          <li class = "bg-danger"><%= name %> : <%= msg %></li>
        <% end %>
      <% end %>
    </div>

    <div class = "row">


      <%= yield %>

    </div>
  </div>
</div>



</body>
</html>
